name: build-and-deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 25
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "25"
          cache: gradle

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build (Gradle)
        run: ./gradlew clean build -x test

      - name: Upload jar to server (temp)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "build/libs/*.jar"
          target: "/opt/apps/myapi/"
          strip_components: 2